﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!--Convert PowerPoint to SCORM, for free-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title — Scorm.pk</title>
    <link rel="apple-touch-icon" sizes="57x57" href=" ../assets/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="../assets/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

    <!--================ Signin Modal Area start =================-->
    <!-- Modal Sign in -->
    <div class="modal fade" id="staticBackdropSignIn" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-gray">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Welcome back</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-contact contact_form">
                        <h1>Login</h1>
                        <div class="row" id="contactform">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" id="txtemail" type="text" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" id="txtpassword" type="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <a class="text-danger float-right" href="#">Forget Password</a>
                        </div>
                        <div class="form-group mt-lg-3">
                            <button type="submit" id="btnLogin" class="button">SIGN IN</button>
                        </div>
                        <div class="row">
                            <div class="container">
                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#staticBackdropSignup" class="text-danger">OR CREATE AN ACCOUNT</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--================ Signin Modal Area End =================-->

    <!--================ Signin Modal Area start =================-->
    <!-- Modal Sign in -->
    <div class="modal fade" id="staticBackdropSignup" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-gray">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create an account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-contact contact_form">
                        <h1>Sign Up</h1>
                        <div class="row" id="contactform">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" id="txtfullnamesignup" type="text" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" id="txtemailsignup" type="text" placeholder="E-mail Address">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" id="txtpasswordsignup" type="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-lg-3">
                            <button id="btnSignup" class="button">Create account</button>
                        </div>
                        <div class="row">
                            <div class="container">
                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#staticBackdropSignIn" class="text-danger">ALREADY HAVE AN ACCOUNT?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--================ Signin Modal Area End =================-->

    <!--================ Header Menu Area start =================-->
    <header class="header_area" id="top">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <a class="navbar-brand logo_h" href="#top"><img src="../assets/img/logo.png" height="80" width="190" alt="Logo Image"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-end">
                            <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                            @{
                                if (Session["UserID"] == null)
                                {
                                    <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#staticBackdropSignIn">Login</a></li>
                                }
                             }
                                </ul>
                        <!--Divider-->
                        <div class="nav-right text-center">
                            <a class="button button-small" href="#pricing">Go Pro</a>
                        </div>
                        @{
                            if (Session["UserID"] != null)
                            {
                                <div class="nav-right text-center">
                                    <div class="dropdown">
                                        <button class="button button-small dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Session["UserName"]
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item disabled" href="#">Account Settings</a>
                                            <a class="dropdown-item" href="#">Upgrade to premium</a>
                                            <a class="dropdown-item text-danger" href="../LoginSignup/Logout">Logout</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    @RenderBody()
    <!-- ================ start footer Area ================= -->
    <footer class="footer-area section-gap">
        <div class="container">

            <div class="footer-bottom row align-items-center text-center text-lg-left">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | <a href="https:/scorm.pk" target="_blank">scorm.pk</a>
                </p>
                <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter-alt"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->
    <script src="../Scripts/jquery.filedrop.js"></script>
    <script src="../Scripts/sweetalert.min.js"></script>
    <script src="../Scripts/jquery-3.5.1.min.js"></script>
    <script src="../jQueryScripts/UserLoginSignup/Users.js"></script>
    <script src="../assets/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="../assets/js/mail-script.js"></script>
    <script src="../assets/js/main.js"></script>
</body>
</html>