@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
body {
    color: #888;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none;
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    color: #1e1859;
    line-height: 1.25;
    font-weight: 700;
}
h1,
.h1 {
    font-size: 35px;
}
@media (min-width: 992px) {
    h1,
    .h1 {
        font-size: 45px;
    }
}
h2,
.h2 {
    font-size: 26px;
}
@media (min-width: 992px) {
    h2,
    .h2 {
        font-size: 36px;
    }
}
h3,
.h3 {
    font-size: 20px;
}
.gradient,
.hero-banner::after,
.priceTable-bg::after,
.card-pricing:hover .button,
.testimonial .owl-dots .owl-dot.active span,
.blog_item_img .blog_item_date,
.button,
.footer-area .single-footer-widget .click-btn {
    background: rgb(36,8,0);
background: linear-gradient(90deg, rgba(36,8,0,1) 0%, rgba(121,9,9,1) 35%, rgba(255,0,39,1) 100%);
}
.bg-gray {
    background: #f9f9ff;
}
.section-margin {
    margin: 65px 0;
}
@media (min-width: 992px) {
    .section-margin {
        margin: 85px 0;
    }
}
@media (min-width: 1200px) {
    .section-margin {
        margin: 130px 0;
    }
}
.section-padding {
    padding: 65px 0;
}
@media (min-width: 992px) {
    .section-padding {
        padding: 85px 0;
    }
}
@media (min-width: 1200px) {
    .section-padding {
        padding: 130px 0;
    }
}
.pb-85px {
    padding-bottom: 40px;
}
@media (min-width: 992px) {
    .pb-85px {
        padding-bottom: 85px;
    }
}
@media (min-width: 1200px) {
    .pt-xl-235 {
        padding-top: 235px;
    }
}
.header_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header_area .navbar-brand {
    margin-right: 30px;
    padding: 0;
}
.header_area .navbar-social {
    min-width: 95px;
    float: right;
}
.header_area .navbar-social li {
    margin-right: 12px;
}
.header_area .navbar-social li i,
.header_area .navbar-social li span {
    font-size: 13px;
}
.header_area .navbar-social li:last-child {
    margin-right: 0;
}
.header_area .navbar-social li a:hover i,
.header_area .navbar-social li span {
    color: #1e1859;
}
.header_area .menu_nav {
    width: 100%;
}
.header_area .navbar {
    background: transparent;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.header_area .navbar .nav-right {
    min-width: 215px;
}
.header_area .navbar .nav .nav-item {
    margin-right: 40px;
}
.header_area .navbar .nav .nav-item .nav-link {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    padding: 25px 0;
    display: inline-block;
}
.header_area .navbar .nav .nav-item .nav-link:after {
    display: none;
}
.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
    opacity: 1;
    position: relative;
}
.header_area .navbar .nav .nav-item:hover .nav-link::after,
.header_area .navbar .nav .nav-item.active .nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.header_area .navbar .nav .nav-item.submenu {
    position: relative;
}
.header_area .navbar .nav .nav-item.submenu ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff;
}
@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu ul {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
    }
}
.header_area .navbar .nav .nav-item.submenu ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
    line-height: 45px;
    color: #1e1859 !important;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link::after {
    display: none;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
    border-bottom: none;
}
.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
    background-color: #1e1859;
    color: #fff !important;
}
@media (min-width: 992px) {
    .header_area .navbar .nav .nav-item.submenu:hover ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
}
.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
    margin-top: 0px;
}
.header_area .navbar .nav .nav-item:last-child {
    margin-right: 0px;
}
.header_area .navbar .search {
    font-size: 12px;
    line-height: 60px;
    display: inline-block;
    margin-left: 80px;
}
.header_area .navbar .search i {
    font-weight: 600;
}
.header_area.navbar_fixed .main_menu {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header_area.navbar_fixed .main_menu .navbar {
    background: #000000a9;
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 20px;
}
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item:hover .nav-link,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item.active .nav-link {
    color: #fff;
}
@media (min-width: 992px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: none;
    }
    .header_area.white_menu .navbar .navbar-brand img + img {
        display: inline-block;
    }
}
@media (max-width: 991px) {
    .header_area.white_menu .navbar .navbar-brand img {
        display: inline-block;
    }
    .header_area.white_menu .navbar .navbar-brand img + img {
        display: none;
    }
}
.header_area.white_menu .navbar .nav .nav-item .nav-link {
    color: #fff;
}
.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img {
    display: inline-block;
}
.header_area.white_menu.navbar_fixed .main_menu .navbar .navbar-brand img + img {
    display: none;
}
.header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
    line-height: 70px;
}
.top_menu {
    background: #ec9d5f;
}
.top_menu .float-left a {
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.top_menu .float-left a:last-child {
    margin-right: 0px;
}
.top_menu .float-right .pur_btn {
    color: #fff;
    line-height: 40px;
    display: block;
    padding: 0px 40px;
    font-weight: 500;
    font-size: 12px;
}
@media (max-width: 1619px) {
    .header_area .navbar .search {
        margin-left: 40px;
    }
}
@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 28px;
    }
    .home_banner_area .banner_inner {
        padding: 100px 0px;
    }
    .header_area .navbar .tickets_btn {
        margin-left: 40px;
    }
    .home_banner_area .banner_inner .banner_content h2 br {
        display: none;
        font-size: 36px;
    }
    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 36px;
        line-height: 45px;
    }
}
@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
        margin-top: 27px;
        margin-bottom: 23px;
    }
    .header_area .navbar {
        background: transparent;
    }
    .navbar-toggler[aria-expanded="false"] span:nth-child(2) {
        opacity: 1;
    }
    .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggler[aria-expanded="true"] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }
    .navbar-toggler[aria-expanded="true"] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }
    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #1e1859;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }
    .navbar .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav {
        padding: 0px 0px;
    }
    .header_top .nav {
        padding: 0px;
    }
    .header_area .navbar .nav .nav-item .nav-link {
        padding: 12px 0;
        margin-right: 0px;
        display: block;
        border-bottom: 1px solid #ededed33;
        border-radius: 0px;
    }
    .header_area .navbar .search {
        margin-left: 0px;
    }
    .header_area .navbar-collapse {
        max-height: 340px;
        overflow-y: scroll;
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        padding: 0px 15px;
    }
    .header_area .navbar .nav .nav-item {
        margin-right: 0px;
    }
    .home_banner_area .banner_inner .banner_content .banner_map_img {
        display: none;
    }
    .header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px;
    }
    .header_area.white_menu.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
        line-height: 40px;
    }
    .header_area.white_menu .navbar .nav .nav-item .nav-link {
        color: #222;
    }
    .categories_post img {
        width: 100%;
    }
    .categories_post {
        max-width: 360px;
        margin: 0 auto;
    }
    .blog_categorie_area .col-lg-4 {
        margin-top: 30px;
    }
    .single-post-area .blog_right_sidebar {
        margin-top: 30px;
    }
    .contact_info {
        margin-bottom: 50px;
    }
    .home_banner_area .donation_inner {
        margin-bottom: -30px;
    }
    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto;
    }
    .footer_area .col-sm-6 {
        margin-bottom: 30px;
    }
    .footer_area .footer_inner {
        margin-bottom: -30px;
    }
    .news_widget {
        padding-left: 0px;
    }
    .home_banner_area .banner_inner .home_left_img {
        display: none;
    }
    .header_area .navbar .tickets_btn {
        display: none;
    }
    .home_banner_area .banner_inner {
        padding: 70px 0px 100px 0px;
    }
    .left_side_text {
        margin-bottom: 50px;
    }
    .price_item {
        max-width: 360px;
        margin: 0px auto 30px;
    }
    .price_inner {
        margin-bottom: -30px;
    }
}
@media (max-width: 767px) {
    .home_banner_area {
        min-height: 500px;
    }
    .home_banner_area .banner_inner {
        min-height: 500px;
    }
    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px;
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px;
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px;
    }
    .home_banner_area .banner_inner .banner_content p br {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .footer-bottom {
        text-align: center;
    }
    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px;
    }
    .made_life_inner .nav.nav-tabs li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px;
    }
    .made_life_inner .nav.nav-tabs {
        margin-bottom: -15px;
    }
    .made_life_area.made_white .left_side_text {
        margin-bottom: 0px;
        margin-top: 30px;
    }
}
@media (max-width: 575px) {
    .top_menu {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .home_banner_area {
        min-height: 450px;
    }
    .home_banner_area .banner_inner {
        min-height: 450px;
    }
    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px;
    }
    .home_banner_area .banner_inner .banner_content img {
        display: none;
    }
    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px;
    }
    .p_120 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .main_title h2 {
        font-size: 25px;
    }
    .sample-text-area {
        padding: 70px 0 70px 0;
    }
    .generic-blockquote {
        padding: 30px 15px 30px 30px;
    }
    .blog_details h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .footer-area {
        padding: 70px 0px;
    }
    .pad_top {
        padding-top: 70px;
    }
    .pad_btm {
        padding-bottom: 70px;
    }
}
@media (max-width: 480px) {
    .header_area .navbar-collapse {
        max-height: 250px;
    }
    .home_banner_area .banner_inner .banner_content {
        padding: 30px 15px;
        margin-top: 0px;
    }
    .banner_content .white_btn {
        display: block;
    }
    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px;
    }
    .banner_area .banner_inner .banner_content h2 {
        font-size: 32px;
    }
    .comments-area .thumb {
        margin-right: 10px;
    }
    .testi_item .media .d-flex {
        padding-right: 0px;
    }
    .testi_item .media .d-flex img {
        width: auto;
        margin-bottom: 15px;
    }
    .testi_item .media {
        display: block;
    }
    .banner_btn {
        margin-bottom: 20px;
    }
}
.hero-banner {
    background: url(../img/banner/hero-banner-bg.png) left center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding-top: 130px;
    padding-bottom: 70px;
}
@media (min-width: 600px) {
    .hero-banner {
        padding-top: 190px;
        padding-bottom: 120px;
    }
}
@media (min-width: 1200px) {
    .hero-banner {
        padding-top: 290px;
        padding-bottom: 220px;
    }
}
.hero-banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
.hero-banner h1 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .hero-banner h1 {
        margin-bottom: 40px;
    }
}
.hero-banner > * {
    color: #fff;
}
.hero-subtitle {
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .hero-subtitle {
        margin-bottom: 38px;
    }
}
.hero-banner-sm {
    padding-top: 120px;
    padding-bottom: 50px;
}
@media (min-width: 600px) {
    .hero-banner-sm {
        padding-top: 150px;
        padding-bottom: 80px;
    }
}
@media (min-width: 1200px) {
    .hero-banner-sm {
        padding-top: 240px;
        padding-bottom: 140px;
    }
}
.hero-banner-sm h1 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
@media (min-width: 600px) {
    .hero-banner-sm h1 {
        font-size: 40px;
    }
}
@media (min-width: 1200px) {
    .hero-banner-sm h1 {
        font-size: 50px;
    }
}
.banner-breadcrumb {
    display: inline-block;
}
.banner-breadcrumb .breadcrumb {
    background: transparent;
    padding: 0;
}
.banner-breadcrumb .breadcrumb-item {
    padding: 0.1rem;
}
.banner-breadcrumb .breadcrumb-item a {
    text-transform: capitalize;
    color: #fff;
}
.banner-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
    padding-left: 0.2rem;
    padding-right: 0.4rem;
}
.banner-breadcrumb .breadcrumb-item.active {
    color: #fff;
}
.section-style {
    width: 130px;
    height: 11px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 15px;
}
.section-style::before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1e1859;
}
.section-style::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #1e1859;
}
.section-intro-white h1,
.section-intro-white h2,
.section-intro-white h3,
.section-intro-white h4,
.section-intro-white h5,
.section-intro-white h6 {
    color: #fff;
}
.section-intro-white .section-style::before {
    background-color: #fff;
}
.section-intro-white .section-style::after {
    background-color: #fff;
}
.section-intro {
    max-width: 570px;
    margin-right: auto;
    margin-left: auto;
}
.domain-search {
    padding: 50px 0;
}
.domain-search h3 {
    font-size: 27px;
    font-weight: 700;
}
.form-domainSearch {
    margin-bottom: 15px;
}
.form-domainSearch .form-group {
    flex: 1 0 auto;
    margin-bottom: 0;
}
.form-domainSearch .form-control {
    font-size: 13px;
    color: #999999;
    height: 45px;
    border-radius: 0;
    width: 100%;
    padding-left: 25px;
    background: transparent;
    border-color: #dbd9e6;
}
@media (min-width: 600px) {
    .form-domainSearch .form-control {
        height: 60px;
    }
}
.form-domainSearch .form-control::placeholder {
    color: #999999;
}
.form-domainSearch .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.form-domainSearch button {
    padding: 5px 25px;
    height: 45px;
    margin-left: 10px;
    box-shadow: 0px 20px 20px 0px rgba(42, 38, 172, 0.2);
}
@media (min-width: 600px) {
    .form-domainSearch button {
        padding: 15px 62px;
        height: 60px;
    }
}
.domain-check li {
    margin: 5px;
}
@media (min-width: 768px) {
    .domain-check li {
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 0;
    }
}
@media (min-width: 1200px) {
    .domain-check li {
        margin-right: 15px;
    }
}
.domain-check li:last-child {
    margin-right: 15px;
}
.domain-check label {
    font-size: 15px;
    font-weight: 700;
    color: #1e1859;
}
.domain-check .dollar-hint {
    font-size: 18px;
    color: #999999;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-left: 3px;
}
.checkbox_style {
    font-size: 13px;
    font-weight: 400;
}
.checkbox_style [type="checkbox"]:checked,
.checkbox_style [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.checkbox_style [type="checkbox"]:checked + label,
.checkbox_style [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 0;
}
.checkbox_style [type="checkbox"]:checked + label:before,
.checkbox_style [type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 14px;
    height: 14px;
    border: 1px solid #dbd9e6;
    background: transparent;
}
.checkbox_style [type="checkbox"]:checked + label:before {
    border-color: transparent;
}
.checkbox_style [type="checkbox"]:checked + label:after,
.checkbox_style [type="checkbox"]:not(:checked) + label:after {
    content: "\e64d";
    position: absolute;
    top: 2px;
    left: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 16px;
    color: #1e1859;
    font-family: "themify";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.checkbox_style [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.checkbox_style [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.logo-carousel {
    padding: 55px 0;
    border-bottom: 1px solid #dbd9e6;
}
.logo-carousel .owl-item img {
    width: auto !important;
    height: auto !important;
}
.client-logo-title {
    font-size: 27px;
    color: #888888;
    font-weight: 300;
}
.card-feature {
    background: #f9f9ff;
    padding: 45px 30px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.card-feature .feature-icon {
    margin-bottom: 30px;
}
.card-feature h3 {
    margin-bottom: 12px;
}
.card-feature p {
    margin-bottom: 0;
}
.card-feature:hover {
    background: #fff;
    box-shadow: 0px 20px 20px 0px rgba(40, 25, 114, 0.1);
}
.card-feature-content {
    padding: 0;
    background: transparent;
}
@media (min-width: 768px) {
    .card-feature-content {
        padding: 30px 0;
    }
}
.card-feature-content h2 {
    margin-bottom: 25px;
}
.card-feature-content:hover {
    box-shadow: none;
}
.card-service {
    padding: 30px 18px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
    .card-service {
        padding: 45px 30px;
    }
}
.card-service .service-icon {
    margin-bottom: 30px;
}
.card-service h3 {
    margin-bottom: 12px;
}
.card-service p {
    margin-bottom: 0;
}
.card-service:hover {
    background: #fff;
    box-shadow: 0px 20px 20px 0px rgba(40, 25, 114, 0.1);
}
.priceTable-bg {
    background: url(../img/home/priceTable-bg.png) left center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.priceTable-bg::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
}
.card-pricing {
    background: #faf9ff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 2px 0px rgba(40, 25, 114, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.card-pricing__header {
    border-bottom: 1px solid #ebebeb;
    padding: 40px 7px;
}
.card-pricing__header h4 {
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 5px;
    color: #1d2441;
}
.card-pricing__header p {
    font-weight: 400;
    margin-bottom: 27px;
}
.card-pricing__price {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    color: #1d2441;
}
@media (min-width: 991px) {
    .card-pricing__price {
        font-size: 60px;
    }
}
.card-pricing__price span {
    font-size: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 5px;
    margin-right: 3px;
}
.card-pricing__list {
    padding: 30px 8px 25px 8px;
    border-bottom: 1px solid #ebebeb;
}
.card-pricing__list li {
    margin-bottom: 12px;
}
.card-pricing__list li:last-child {
    margin-bottom: 0;
}
.card-pricing__list li i,
.card-pricing__list li span {
    font-size: 13px;
    margin-right: 10px;
}
.card-pricing__list li.unvalid i,
.card-pricing__list li.unvalid span {
    color: #f81c1c;
    font-size: 12px;
}
.card-pricing .button {
    background: transparent;
    border: 1px solid #dbd9e6;
    color: #1e1859;
}
.card-pricing__footer {
    padding: 45px 0;
}
.card-pricing:hover {
    background: #fff;
    box-shadow: 0px 20px 25.5px 4.5px rgba(33, 20, 106, 0.1);
}
.card-pricing:hover .card-pricing__price {
    color: #1e1859;
}
.card-pricing:hover .card-pricing__header h4,
.card-pricing:hover p {
    color: #1e1859;
}
.card-pricing:hover .button {
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.1);
}
.priceTable-relative {
    position: relative;
}
@media (min-width: 1200px) {
    .priceTable-relative {
        padding-top: 290px;
    }
    .priceTable-relative .priceTable-wrapper {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
}
.form-subscribe {
    max-width: 610px;
    margin-right: auto;
    margin-left: auto;
}
.form-subscribe .form-control {
    border: 0;
    border-radius: 0;
    font-size: 15px;
    height: 40px;
    padding: 0 0 8px 0;
    margin-right: 5px;
    background: transparent;
    color: #888888;
    border-bottom: 1px solid #dbd9e6;
}
@media (min-width: 600px) {
    .form-subscribe .form-control {
        margin-right: 40px;
    }
}
.form-subscribe .form-control::placeholder {
    font-weight: 300;
    color: #888888;
}
.form-subscribe .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.testimonial .owl-item img {
    width: auto;
    height: auto;
}
.testimonial .testimonial-item {
    padding: 28px 25px;
    background: #fff;
}
.testimonial .testimonial-item h4 {
    font-size: 20px;
    margin-bottom: 0;
}
.testimonial .testimonial-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonial .testi-intro {
    font-size: 14px;
    margin-bottom: 0;
}
.testimonial .owl-dots {
    margin-top: 30px !important;
}
@media (min-width: 600px) {
    .testimonial .owl-dots {
        margin-top: 60px !important;
    }
}
.testimonial .owl-dots .owl-dot span {
    width: 20px;
    height: 3px;
    background: #dbd9e6;
    border-radius: 5px;
    margin: 5px 8px;
}
.testimonial .owl-dots .owl-dot.active span {
    height: 5px;
}
.contact-info {
    margin-bottom: 12px;
}
.contact-info__icon {
    margin-right: 20px;
}
.contact-info__icon i,
.contact-info__icon span {
    color: #8f9195;
    font-size: 27px;
}
.contact-info .media-body h3 {
    font-size: 16px;
    margin-bottom: 0;
}
.contact-info .media-body h3 a {
    color: #1e1859;
}
.contact-info .media-body p {
    color: #999999;
}
.contact-title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form-contact label {
    color: #1e1859;
    font-size: 14px;
}
.form-contact .form-group {
    margin-bottom: 15px;
}
@media (min-width: 1000px) {
    .form-contact .form-group {
        margin-bottom: 30px;
    }
}
.form-contact .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}
.form-contact .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999;
}
.form-contact textarea {
    border-radius: 12px;
    height: 100% !important;
}
.l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px;
}
.l_blog_item .l_blog_text .date a {
    font-size: 12px;
}
.l_blog_item .l_blog_text h4 {
    font-size: 18px;
    color: #1e1859;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.l_blog_item .l_blog_text h4:hover {
    color: #1e1859;
}
.l_blog_item .l_blog_text p {
    margin-bottom: 0px;
    padding-top: 20px;
}
.causes_slider .owl-dots {
    text-align: center;
    margin-top: 80px;
}
.causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eeeeee;
    display: inline-block;
    margin-right: 7px;
}
.causes_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px;
}
.causes_slider .owl-dots .owl-dot.active {
    background: #1e1859;
}
.causes_item {
    background: #fff;
}
.causes_item .causes_img {
    position: relative;
}
.causes_item .causes_img .c_parcent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
}
.causes_item .causes_img .c_parcent span {
    width: 70%;
    height: 3px;
    background: #1e1859;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.causes_item .causes_img .c_parcent span:before {
    content: "75%";
    position: absolute;
    right: -10px;
    bottom: 0px;
    background: #1e1859;
    color: #fff;
    padding: 0px 5px;
}
.causes_item .causes_text {
    padding: 30px 35px 40px 30px;
}
.causes_item .causes_text h4 {
    color: #1e1859;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
}
.causes_item .causes_text h4:hover {
    color: #1e1859;
}
.causes_item .causes_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0px;
}
.causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid #1e1859;
    text-align: center;
    float: left;
    line-height: 50px;
    background: #1e1859;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.causes_item .causes_bottom a + a {
    border-color: #eeeeee;
    background: #fff;
    font-size: 14px;
    color: #1e1859;
}
.latest_blog_area {
    background: #f9f9ff;
}
.single-recent-blog-post {
    margin-bottom: 30px;
}
.single-recent-blog-post .thumb {
    overflow: hidden;
}
.single-recent-blog-post .thumb img {
    transition: all 0.7s linear;
}
.single-recent-blog-post .details {
    padding-top: 30px;
}
.single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    transition: all 0.3s linear;
}
.single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg);
}
.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
    color: #1e1859;
}
.tags .tag_btn:before {
    background: #1e1859;
}
.tags .tag_btn + .tag_btn {
    margin-left: 2px;
}
.blog_categorie_area {
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 900px) {
    .blog_categorie_area {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (min-width: 1100px) {
    .blog_categorie_area {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer;
}
.categories_post img {
    max-width: 100%;
}
.categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.75);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories_post .categories_details h5 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}
.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}
.categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
    width: 100%;
    height: 1px;
}
.categories_post:hover .categories_details {
    background: rgba(222, 99, 32, 0.85);
}
.blog_item {
    margin-bottom: 50px;
}
.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}
@media (min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px;
    }
}
.blog_details p {
    margin-bottom: 30px;
}
.blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
@media (min-width: 768px) {
    .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}
.blog-info-link li {
    float: left;
    font-size: 14px;
}
.blog-info-link li a {
    color: #999999;
}
.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px;
}
.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
.blog-info-link li:last-child::after {
    display: none;
}
.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table;
}
.blog_item_img {
    position: relative;
}
.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px;
    }
}
.blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2;
}
@media (min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
        font-size: 30px;
    }
}
.blog_item_img .blog_item_date p {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px;
    }
}
.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
}
.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
}
.blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
}
.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
}
.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999;
}
.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
}
.blog_right_sidebar .search_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
}
.blog_right_sidebar .search_widget .input-group button i,
.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999;
}
.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
}
.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999;
}
.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
}
.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
}
.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #999999;
}
.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
}
.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0;
}
.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
}
.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
}
.blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
}
.blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #1e1859;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    color: #1e1859;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
}
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
}
.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
}
.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}
.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #1e1859;
    color: #fff;
}
.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
}
.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
}
.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px;
}
.blog-pagination {
    margin-top: 80px;
}
.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
}
.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px;
}
.blog-pagination .page-link:hover {
    background-color: #fbf9ff;
}
.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
}
.blog-pagination .page-item:last-child .page-link {
    margin-right: 0;
}
.single-post-area .blog_details {
    box-shadow: none;
    padding: 0;
}
.single-post-area .social-links {
    padding-top: 10px;
}
.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px;
}
.single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear;
}
.single-post-area .social-links li a:hover {
    color: #1e1859;
}
.single-post-area .blog_details {
    padding-top: 26px;
}
.single-post-area .blog_details p {
    margin-bottom: 20px;
}
.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}
@media (min-width: 768px) {
    .single-post-area .quote-wrapper {
        padding: 30px;
    }
}
.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid #1e1859;
}
@media (min-width: 768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px;
    }
}
.single-post-area .arrow {
    position: absolute;
}
.single-post-area .arrow i,
.single-post-area .arrow span {
    font-size: 20px;
    font-weight: 600;
}
.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8);
}
.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff;
}
.single-post-area .navigation-top p {
    margin-bottom: 0;
}
.single-post-area .navigation-top .like-info {
    font-size: 14px;
}
.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px;
}
.single-post-area .navigation-top .comment-count {
    font-size: 14px;
}
.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
    font-size: 16px;
    margin-right: 5px;
}
.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px;
}
.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0;
}
.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999999;
}
.single-post-area .navigation-top .social-icons li:hover i,
.single-post-area .navigation-top .social-icons li:hover span {
    color: #1e1859;
}
.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px;
}
@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px;
    }
}
.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}
@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px;
    }
}
.single-post-area .blog-author a {
    display: inline-block;
}
.single-post-area .blog-author p {
    margin-bottom: 0;
}
.single-post-area .blog-author h4 {
    font-size: 16px;
}
.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px;
}
.single-post-area .navigation-area p {
    margin-bottom: 0px;
}
.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #1e1859;
}
.single-post-area .navigation-area .nav-left {
    text-align: left;
}
.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}
.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-post-area .navigation-area .nav-left i,
.single-post-area .navigation-area .nav-left span {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-post-area .navigation-area .nav-left:hover i,
.single-post-area .navigation-area .nav-left:hover span {
    opacity: 1;
}
.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: 0.5;
}
@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px;
    }
}
.single-post-area .navigation-area .nav-right {
    text-align: right;
}
.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
}
.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-post-area .navigation-area .nav-right i,
.single-post-area .navigation-area .nav-right span {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-post-area .navigation-area .nav-right:hover i,
.single-post-area .navigation-area .nav-right:hover span {
    opacity: 1;
}
.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: 0.5;
}
@media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
        padding-bottom: 0px;
    }
}
.comments-area {
    background: transparent;
    border-top: 1px solid #eee;
    padding: 45px 0;
    margin-top: 50px;
}
@media (max-width: 414px) {
    .comments-area {
        padding: 50px 8px;
    }
}
.comments-area h4 {
    margin-bottom: 35px;
    color: #1e1859;
    font-size: 18px;
}
.comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px;
}
.comments-area a {
    color: #1e1859;
}
.comments-area .comment-list {
    padding-bottom: 48px;
}
.comments-area .comment-list:last-child {
    padding-bottom: 0px;
}
.comments-area .comment-list.left-padding {
    padding-left: 25px;
}
@media (max-width: 413px) {
    .comments-area .comment-list .single-comment h5 {
        font-size: 12px;
    }
    .comments-area .comment-list .single-comment .date {
        font-size: 11px;
    }
    .comments-area .comment-list .single-comment .comment {
        font-size: 10px;
    }
}
.comments-area .thumb {
    margin-right: 20px;
}
.comments-area .thumb img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.comments-area .date {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 0;
    margin-left: 20px;
}
.comments-area .comment {
    margin-bottom: 10px;
    color: #777777;
}
.comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.comments-area .btn-reply:hover {
    color: #1e1859;
}
.comment-form {
    border-top: 1px solid #eee;
    padding-top: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.comment-form .form-group {
    margin-bottom: 30px;
}
.comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #1e1859;
}
.comment-form .name {
    padding-left: 0px;
}
@media (max-width: 767px) {
    .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem;
    }
}
.comment-form .email {
    padding-right: 0px;
}
@media (max-width: 991px) {
    .comment-form .email {
        padding-left: 0px;
    }
}
.comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent;
}
.comment-form .form-control:focus {
    outline: 0;
    box-shadow: none;
}
.comment-form .form-control::placeholder {
    font-weight: 300;
    color: #999999;
}
.comment-form .form-control::placeholder {
    color: #777777;
}
.comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important;
}
.comment-form ::-webkit-input-placeholder {
    font-size: 13px;
    color: #777;
}
.comment-form ::-moz-placeholder {
    font-size: 13px;
    color: #777;
}
.comment-form :-ms-input-placeholder {
    font-size: 13px;
    color: #777;
}
.comment-form :-moz-placeholder {
    font-size: 13px;
    color: #777;
}
.button {
    border: 0;
    display: inline-block;
    color: #fefefe;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    padding: 9px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
@media (min-width: 1000px) {
    .button {
        padding: 12px 45px;
    }
}
.button:hover {
    background-color: #ff000052;
    border-color:rgb(146, 0, 0);
    color: black;
}
.button-small {
    padding: 5px 45px;
}
.button-outline {
    border: 1px solid rgb(146, 0, 0);
    background: transparent;
}
.button-link {
    padding: 0;
    background: transparent;
}
.button-link i,
.button-link span {
    font-size: 15px;
    margin-right: 3px;
}
.button-link:hover {
    background: transparent;
}
.button-shadow {
    box-shadow: 0px 10px 20px 0px rgba(42, 38, 172, 0.1);
}
.button-shadow2 {
    box-shadow: 0px 20px 20px 0px rgba(42, 38, 172, 0.2);
}
button.button {
    border: 0;
}
.button-contactForm {
    border-radius: 5px;
}
.footer-area {
    background: #2b0000;
}
@media (max-width: 991px) {
    .footer-area {
        padding: 60px 0px;
    }
}
@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px;
    }
}
.footer-area .single-footer-widget p {
    color: #7b838a;
}
.footer-area .single-footer-widget h4 {
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
}
@media (max-width: 1024px) {
    .footer-area .single-footer-widget h4 {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 15px;
    }
}
.footer-area .single-footer-widget ul li {
    margin-bottom: 4px;
}
.footer-area .single-footer-widget ul li a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #888;
}
.footer-area .single-footer-widget ul li a:hover {
    color: #fff;
}
.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px;
}
.footer-area .single-footer-widget .form-wrap .info {
    color: #fff;
}
.footer-area .single-footer-widget input {
    height: 40px;
    border: 1px solid #eeeeee;
    font-weight: 400;
    background: #fff;
    color: #888;
    padding-left: 12px;
    border-radius: 30px;
    font-size: 14px;
}
.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none;
}
.footer-area .single-footer-widget input.placeholder {
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    color: #888;
}
.footer-area .single-footer-widget input:-moz-placeholder {
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    color: #888;
}
.footer-area .single-footer-widget input::-moz-placeholder {
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    color: #888;
}
.footer-area .single-footer-widget input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    color: #888;
}
.footer-area .single-footer-widget .click-btn {
    color: #1e1859;
    border-radius: 30px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px 23px;
    border: 0;
    color: #fff;
    position: relative;
    z-index: 99;
    left: -18px;
    text-transform: capitalize;
}
.footer-area .single-footer-widget .click-btn i,
.footer-area .single-footer-widget .click-btn span {
    font-size: 14px;
    font-weight: 500;
}
.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none;
}
.footer-area .footer-bottom {
    border-top: 1px solid #333333;
    margin-top: 70px;
    padding: 25px 0;
}
@media (max-width: 991px) {
    .footer-area .footer-bottom {
        margin-top: 20px;
    }
}
.footer-area .footer-bottom p {
    font-weight: 400;
    color: #888;
}
.footer-area .footer-bottom p a {
    color: #ffffff;
}
.footer-area .footer-bottom .footer-social {
    text-align: center;
}
@media (max-width: 991px) {
    .footer-area .footer-bottom .footer-social {
        text-align: left;
        margin-top: 30px;
    }
}
.footer-area .footer-bottom .footer-social a {
    margin-right: 22px;
    color: #fff;
    display: inline-grid;
    align-content: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.footer-area .footer-bottom .footer-social a:hover {
    color: #6128be;
}
.footer-area .footer-bottom .footer-social a:last-child {
    margin-right: 0;
}
.footer-area .footer-bottom .footer-social a i,
.footer-area .footer-bottom .footer-social a span {
    font-size: 14px;
}
.product{
    border-radius: 50%;
}
[data-animate-in] {
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
    transform: translate3d(0, 24px, 0)
}

[data-animate-in="left"] {
    transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
    transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
    transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
    transform: translate3d(0, 0, 0)
}

[data-animate-in].in-view {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transition: transform 0.6s ease, opacity 0.6s ease
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
    opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
    opacity: 1;
    transition: none;
    transform: none
}
#dropArea{
    background: Transparent;
    border: white dashed 1px;
    height: 200px;
    width : 600px;
    margin: auto;
    text-align: center;
    color: white;
}
.active-drop {
    background: Transparent;
    border:solid Red dashed 2px !important;
    opacity:.5;
    color: black !important;
}
.hrtext {
    overflow: hidden;
    text-align: center;
}
  
  .hrtext:before,
  .hrtext:after {
    background-color: rgb(133, 0, 0);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
  }
  
  .hrtext:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .hrtext:after {
    left: 0.5em;
    margin-right: -50%;
  }
.files input {
    background : transparent;
    outline: 1px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

    .files input:focus {
        outline: 2px dashed #92b0b3;
        outline-offset: -10px;
        -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
        transition: outline-offset .15s ease-in-out, background-color .15s linear;
    }

.files {
    position: relative
}

    .files:after {
        pointer-events: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 50px;
        right: 0;
        height: 56px;
        content: "";
        background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
        display: block;
        margin: 0 auto;
        background-size: 100%;
        background-repeat: no-repeat;
    }

.color input {
    background-color: transparent;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.drag-area {
    background-color: rgb(0,0,0,0.5); /*#c8dadf;*/
    outline: 2px dashed #000; /*#92b0b3;*/
    text-align: center;
    outline-offset: -10px;
    padding: 60px 20px;
    margin: 10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

    .drag-area p,
    .drag-area label {
        padding: 10px;
        cursor: pointer;
    }

    .drag-area svg {
        fill: #fff; /*#92b0b3;*/
        width: 100%;
        height: 40px;
    }

    .drag-area input {
        display: none;
        cursor: pointer;
    }

.is-dragging {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}

    .is-dragging p,
    .is-dragging label {
        color: #000;
    }

    .is-dragging svg {
        fill: #000;
    }

